.hidden {
  display: none;
}

.post {
  border: 1px solid #C1C1C1;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
}

.post__title {
  margin-top: 0;
  margin-bottom: 20px;
  
  color: #D6CAAB;
  font-size: 23px;
  text-decoration: underline;
}

.post__content {
  color: #C7BEA9;
}

.post__meta {
  margin: 0;
  margin-top: 40px;

  color: #C7BEA9;
}

.form {
  margin: 0 20px;
}

.button-contain {
  text-align: right;
}

.button {
  padding: 4px;
  width: 30%;
  
  background-color: #8BC29E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.comment { 
  color: #C7BEA9;
  margin: 0 20px;
}

.comment__reply {
  color: #FE7BB4;
  cursor: pointer;
}

.replies {
  margin-left: 40px;
  margin-right: 20px;

  color: #C7BEA9;
}

.reply {
  margin: 10px 0;
}

.cta-login {
  margin: 0 20px;
  padding: 10px;
  
  border: 1px solid #C1C1C1;
  color: #D6CAAB;
}

.cta-login__link {
  color:#FE7BB4;
  text-decoration: underline;
}